@Scripts.Render("~/bundles/game")

<h2 class="text-center">Black Jack</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center" id="dealerBlock">
            <h2>
                <span id="dealerName"></span>
            </h2>
            <ul class="list-group" id="dealerCards"></ul>
            <h4>Value: <span id="dealerValue"></span></h4>
        </div>
        <div class="col-md-6 text-center game-option">
            <h1 class='alert alert-info'>
                <span id="gameStat"></span>
            </h1>
        </div>
        <div class="col-md-3">
            <ul class="list-group" id="playerStatsBlock"></ul>
            <h3>Cards in deck: <span id="cardsCount"></span></h3>
        </div>
    </div>
</div>
<div class="row text-center">
    <div id="botBlock" class="col-md-6 row"></div>
    <div class="col-md-2">
        <h3> 
            <span id="humanName"></span>
        </h3>
        <ul class="list-group" id="humanCards"></ul>
        <h4>Value: <span id="humanValue"></span></h4>
        <h4>Bet: <span id="humanBet"></span></h4>
    </div>

    <div class="col-md-4 ">
        <div class="row">
            <input id="drawButton" type="submit" value="Draw" class="custombutton btn btn-default" />
        </div>
        <div class="row">
            <input id="standButton" type="submit" value="Stand" class="btn btn-default custombutton" />
        </div>
        <div class="row">
            <input type="range" id="betValue" class="custombutton custom-range" min="10" value="10" oninput="placeBet()" step="10" name="
                   
                   Value" />
        </div>
        <div class="row">
            <input type="number" id="imageBetValue" class="custombutton text-center" value="10" readonly="readonly" />
        </div>
        <div class="row">
            <input id="placeBetButton" type="submit" value="Place a bet" class="btn btn-default custombutton" />
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error</h5>
            </div>
            <div class="modal-body">
                <h1 class="alert alert-danger text-center">
                    <span id="errorMessage"></span>
                </h1>
            </div>
            <div class="modal-footer">
                <p>You can try to refresh page to solve your problem.</p>
                <button id="refreshButton" type="button" class="btn btn-primary">Refresh page</button>
            </div>
        </div>
    </div>
</div>