@Scripts.Render("~/bundles/login")

<h2>Enter your name</h2>

<div class="form-group">
    @Html.TextBox("playerName", null, new { id = "playerName", autocomplete = "off", @class = "form-control" })
</div>
@using (Html.BeginForm("Game", "Game"))
{
    <input type="submit" id="loginButton" value="Start new game" class="btn btn-default" />
    <input type="submit" id="loadButton" value="Load last game" class="btn btn-default" />
}