@model BlackJack.ViewModel.PlayerViewModel
@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="col-md-12">
        <h3>Input your name:</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("StartGame", "Game", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group ">

                @Html.LabelFor(model => model.Name, "Name", htmlAttributes: new { @class = "control-label" })

                <input type="text" id="Name" class="form-control" name="playerName" autocomplete="off" />
            </div>

            <input type="submit" name="Play" value="Play" class="btn btn-default" />
        }
    </div>
</div>


