<kendo-grid [data]="gridData"
            [pageSize]="state.take"
            [skip]="state.skip"
            [pageable]="true"
            [sortable]="true"
            [filterable]="true"
            (dataStateChange)="dataStateChange($event)">

    <kendo-grid-column field="GameId" title="GameId" width="20%" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="PlayerId" title="PlayerId" width="20%" filter="numeric">
    </kendo-grid-column>
    <kendo-grid-column field="Message" title="Message" width="40%">
    </kendo-grid-column>
    <kendo-grid-column field="CreationDate" title="CreationDate" width="20%" filter="date" format="{0:dd.MM.yyyy HH:mm:ss}">
    </kendo-grid-column>

</kendo-grid>